.nav-brand {
    height: 20px;
    padding-right: 30px;
}

.my-nav {
  background-image: linear-gradient(#F90E0E, #B46907);
  font-style: italic;
  font-size: 22px;
  position: sticky;
  top: 0;
}

img.rounded-circle {
  top: 10px;
}

body {
  background-color: black;
}

.navbar-nav > li{
padding-left:60px;
padding-right:60px;
}

